
@import '../scss/bulma-variables';

body.dark {
    background-color: $dark;
    color: $light;

    button {
        background: $light;
        color: $dark;
    }
    section {
        background: $dark;
        color: $light;
    }
    footer.div,footer,nav {
        background: $dark-light;
    }
    div.navbar-menu{
        background: $dark-light;
    }
    nav a {
    color: $light;
    }
    li a {
        color: $light;
    }
    li a:hover {
        color: $light;
        border-bottom: 1px solid $dark-light;
    }
    li.is-active a:hover {
        color: $primary;
        border-bottom: 1px solid $primary;
    }
    div.tile{
        background: $dark;
        color: $light;
    }
    hr {
        background-color: $dark-light-separator;
    }
    article.card{
        background: $dark;
        color: $light;
    }
    .subtitle {
        color: $light;
    }
    .title {
        color: $primary;
    }
    .box{
        background: $dark;
    }
    .navbar-brand {
        border-bottom: 1px solid $dark-light-separator;
    }
    .navbar-item {
        background-color: $dark-light;
        color: $light;
    }
    .navbar-item:hover {
        color: $primary;
    }
    .navbar-link {
        background-color: $dark-light;
        color: $light;
    }
    .navbar-link:hover {
        color: $primary;
    }
    .navbar-dropdown {
        background-color: $dark-light;
        color: $light;
    }
}