
@import '../scss/bulma-variables';

body.dark {
    background-color: $dark;
    color: $light;
}
body.dark .subtitle {
    color: $light;
}
body.dark .title {
    color: $primary;
}
body.dark button {
    background: $light;
    color: $dark;
}
body.dark section {
    background: $dark;
    color: $light;
}
body.dark footer.div,
body.dark footer,
body.dark nav {
    background: $dark-light;
}
body.dark div.navbar-menu{
    background: $dark-light;
}
body.dark nav a {
    color: $light;
}
body.dark div.tile{
    background: $dark;
    color: $light;
}
body.dark .box{
    background: $dark;
}
body.dark article.card{
    background: $dark;
    color: $light;
}
body.dark .navbar-item {
    background-color: $dark-light;
    color: $light;
}
body.dark .navbar-item:hover {
    color: $primary;
}
body.dark .navbar-link {
    background-color: $dark-light;
    color: $light;
}
body.dark .navbar-link:hover {
    color: $primary;
}
body.dark .navbar-dropdown {
    background-color: $dark-light;
    color: $light;
}
body.dark hr {
    background-color: $dark-light-separator;
}