// Bulma variable overrides
$primary: #00E436;
$secondary: #008751;
$link: $primary;
$info: $secondary;
$family-primary: 'ztnature-medium', sans-serif;
$family-secondary: 'ztnature-thin', sans-serif;
$card-border-radius: 12px;
$column-gap: 0.75rem;
$card-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);

// Logo colors
$vite-color: #646cffaa;
$react-color: #61dafbaa;
$bulma-color: #59d2d6aa;

// Custom dark theme colors
$dark-light:#4d4d4d;
$dark-light-separator: #4a4a4a;