$primary: #00E436;
$secondary: #008751;
$link: $primary;
$info: $secondary;
$family-primary: 'ztnature-medium', sans-serif;
$family-secondary: 'ztnature-thin', sans-serif;
$card-border-radius: 12px;
$column-gap: 0.75rem;
$card-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);