// fonts
@font-face {
    font-family: 'ztnature-medium';
    src: url('/assets/fonts/ZTNature-Medium.ttf');
}

@font-face {
    font-family: 'ztnature-thin';
    src: url('/assets/fonts/ZTNature-Thin.ttf');
}

@import 'bulma-variables';
@import '../node_modules/bulma/bulma.sass';
@import '../node_modules/bulma-timeline/src/sass/index.sass';
@import '../themes/dark-theme';

a {
    color: $primary;
}
a:hover {
    color: $secondary;
}

.hero-body {
    justify-content: center;
}

.profile-name {
    color: $primary;
    font-weight: bold;
}
.profile-name:hover {
    filter: drop-shadow(0 0 2em $primary);
    transition: filter 300ms;
}

$vite-color: #646cffaa;
$react-color: #61dafbaa;
$bulma-color: #59d2d6aa;

.logo {
	will-change: filter;
	transition: filter 300ms;
}
.logo.vite, .logo.react, .logo.bulma {
    height: 2em;
    width: 2em;
}
.logo.vite:hover {
	filter: drop-shadow(0 0 2em $vite-color);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em $react-color);
}
.logo.bulma:hover {
    filter: drop-shadow(0 0 2em $bulma-color);
}

.button.is-primary {
    background-color: $primary;
}
.button.is-primary:hover {
    filter: drop-shadow(0 0 2em $primary);
    transition: filter 300ms;
}

.level-item.link.is-primary.aos-init.aos-animate:hover {
    filter: drop-shadow(0 0 2em $primary);
    transition: filter 300ms;
}

.navbar-item:hover {
    color: $primary;
}

.title {
    color: $primary;
}

.card-image {
    transition: 400ms ease 100ms;
}
.card-image:hover {
    filter: blur(1px);
    transition: 1s, 1s;
}

#profile:hover {
    filter: drop-shadow(0 0 2em $primary);
    transition: filter 300ms;
}

#language-en:hover {
    color: $primary;
}

#language-fr:hover {
    color: $primary;
}

@keyframes spin {
    to {
        --angle: 360deg;
    }
}

#hero-banner {
    --border-width: 2px;
    border: var(--border-width) solid transparent;
    border-radius: 0px;
    box-sizing: border-box;
    border-image: conic-gradient(from var(--angle), $primary 80%, opacify(lighten($primary, 80%), 0.4) 88%, opacify(lighten($secondary, 80%), 0.4) 92%, $primary 100%) 0.5;
    animation: spin 3s linear infinite paused;
    animation-play-state: running;
    background: radial-gradient(circle, opacify(darken($secondary, 1%), 0.4) 0%, opacify(darken($primary, 7%), 0.4) 100%);
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

img {
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
img:hover {
    transform: scale(1.01, 1.01);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	.logo.react {
		animation: logo-spin infinite 20s linear;
	}
}

.scroll-indicator {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(-10px);
    }
}

#social {
    background: radial-gradient(circle, opacify(darken($secondary, 10%), 0.4) 0%, opacify(darken($primary, 10%), 0.7) 100%);
}

#social a {
    filter: drop-shadow(0 0 0.2em $secondary);
}

#social a:hover {
    filter: drop-shadow(0 0 2em $primary);
    transition: filter 300ms;
}

#hero {
    background: linear-gradient(270deg, $primary, $secondary);
    background-size: 400% 400%;
    -webkit-animation: GradientAnimation 30s ease infinite;
    -moz-animation: GradientAnimation 30s ease infinite;
    animation: GradientAnimation 30s ease infinite;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image:
            //repeating-linear-gradient(45deg, transparent, transparent 2px, rgba(255,255,255,0.1) 2px, rgba(255,255,255,0.1) 4px),
            repeating-linear-gradient(-45deg, transparent, transparent 2px, rgba(255,255,255,0.1) 2px, rgba(255,255,255,0.1) 4px);
        pointer-events: none;
    }
}

@-webkit-keyframes GradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes GradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes GradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
